<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="contenedor nav-content">
            <a href="/" class="enlaces">Home</a>
            <a href="/babbage" class="enlaces active">Babbage</a>
            <a href="/berners-lee" class="enlaces">Berners-Lee</a>
            <a href="/clarke" class="enlaces">Clarke</a>
            <a href="/hamilton" class="enlaces ">Hamilton</a>
            <a href="/hopper" class="enlaces">Hopper</a>
            <a href="/lovelace" class="enlaces">Lovelace</a>
            <a href="/turing" class="enlaces">Turing</a>
        </div>
    </nav>

    <div class="container">
        <div class="conte ">
            <div class="card babbage">
                <img src="img/babbage.jpg" alt="">
            </div>
            <div class="informacion">
                <h1>Babbage</h1>
                <p class="fecha">
                    Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una
                    calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias
                </p>
            </div>

        </div>

    </div>

</body>

</html>