<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="contenedor nav-content">
            <a href="/" class="enlaces">Home</a>
            <a href="/babbage" class="enlaces">Babbage</a>
            <a href="/berners-lee" class="enlaces">Berners-Lee</a>
            <a href="/clarke" class="enlaces active">Clarke</a>
            <a href="/hamilton"  class="enlaces ">Hamilton</a>
            <a href="/hopper" class="enlaces">Hopper</a>
            <a href="/lovelace" class="enlaces">Lovelace</a>
            <a href="/turing" class="enlaces">Turing</a>
        </div>
    </nav>

    <div class="container">
        <div class="conte ">
                 <div class="card clarke">
                     <img src="img/Emilia_Clarke.jpg" alt="Clarke">
                 </div>
                 <div class="informacion">
                     <h1>E.Clarke</h1>
                    <p class="fecha">
                        Emilia Isobel Euphemia Rose Clarke, ​​ conocida como Emilia Clarke, es una actriz y autora británica, conocida principalmente por interpretar a Daenerys Targaryen en la serie de HBO Game of Thrones. 
                    </p>
                 </div>
                
             </div>
             
            </div>

</body>

</html>