<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="contenedor nav-content">
            <a href="/" class="enlaces">Home</a>
            <a href="/babbage" class="enlaces">Babbage</a>
            <a href="/berners-lee" class="enlaces">Berners-Lee</a>
            <a href="/clarke" class="enlaces">Clarke</a>
            <a href="/hamilton"  class="enlaces ">Hamilton</a>
            <a href="/hopper" class="enlaces active">Hopper</a>
            <a href="/lovelace" class="enlaces">Lovelace</a>
            <a href="/turing" class="enlaces">Turing</a>
        </div>
    </nav>

    <div class="container">
        <div class="conte ">
                 <div class="card hopper">
                     <img src="img/hopper.jpg" alt="hopper">
                 </div>
                 <div class="informacion">
                     <h1>Hopper</h1>
                    <p class="fecha">
                        Jim Hopper es un personaje ficticio de la serie de terror y ciencia ficción de Netflix Stranger Things. Es el jefe de policía en Hawkins, Indiana, quien, durante las primeras tres temporadas, investiga los extraños sucesos en la ciudad.
                    </p>
                 </div>
                
             </div>
             
            </div>

</body>

</html>