<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="contenedor nav-content">
            <a href="/" class="enlaces active">Home</a>
            <a href="/babbage" class="enlaces">Babbage</a>
            <a href="/berners-lee" class="enlaces">Berners-Lee</a>
            <a href="/clarke" class="enlaces">Clarke</a>
            <a href="/hamilton" class="enlaces ">Hamilton</a>
            <a href="/hopper" class="enlaces">Hopper</a>
            <a href="/lovelace" class="enlaces">Lovelace</a>
            <a href="/turing" class="enlaces">Turing</a>
        </div>
    </nav>
    <div class="container-home">
        <div class="bienvenidos">
            <h1>BIENVENIDO</h1>
            <p>Elige tu DH-HEROE y descubre quienes son.....</p>
        </div>

    </div>

</body>

</html>